.upload-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 20rem;
  // width: 100%;
  display: block;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 40%);
  overflow: hidden;
}

.card-media {
  height: 20rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill !important;
}

.button {
  width: 33%;
  margin-bottom: 10px;
}