<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> -->
  <!-- <meta name="theme-color" content="#000000" /> -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/favicon.ico') }}">
  <link rel=" stylesheet" href="{{ url_for('static',filename='styles/mainpage.css') }}">
  <title>MTA Signature</title>
</head>

<body class="Body">
  <div class="App">
    <div class="App-header">
      <img src="{{ url_for('static',filename='assets/logo.svg') }}" class="App-logo" alt="logo" />
      <p>
        Server is running...
      </p>
      <!-- <a class="App-link" href="http://fit.mta.edu.vn/" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static',filename='assets/fit_mta_logo-removebg-preview.png') }}" />
        fit.mta.edu.vn
      </a> -->
    </div>
  </div>
</body>

</html>