.veri-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.veri-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.veri-button {
  margin-left: 10px;
}